<body>
<img src="../../static/images/graph1.png">
<img src="../../static/images/graph2.png">
<img src="../../static/images/graph3.png">
<img src="../../static/images/graph4.png">
<img src="../../static/images/graph5.png">
<img src="../../static/images/graph6.png">
    
{{ ruta }}
{{ nombre }}
{{ placa }}
{{ peso }}
{{ carga }}
{{ fecha }}
{{ descripcion }}
{{ duracion }}
{{ costo }}
{{ pago }}

<script>
//alert("Ha editado al empleado");
//location.href="http://localhost:8000/empleados";
</script>
