{% load static %}
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'crud/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/style.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver Viajes</title>

</head>

<body>
    <!--BARRA Y MENÚ-->
    <div class="navbar-fixed">
        <nav class="grey darken-4">
            <div class="container section">
                <div class="div-wrapper">
                    <a href="#" class="brand-logo center" id="titulo">Ver Viajes</a>
                    <a href="#" class="sidenav-trigger show-on-large" id="menu" data-target="menu-side">
                        <i class="material-icons">menu</i>
                    </a>

                </div>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="menu-side">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../../static/images/bg1.jpg" alt="">
                </div>
                <a href="#">
                    <img src="../../static/images/user.png" alt="" class="circle">
                </a>
                <a href="">
                    <span class="name white-text">Sthefania Continelli</span>
                </a>
                <a href="">
                    <span class="email white-text">sthefaniaco@trasportadora.com</span>
                </a>
            </div>
        </li>
        <li>
            <a href="http://localhost:8000/">
                <i class="material-icons">navigation</i>
                Viajes
            </a>
            <ul>
                <li>
                    <a href="">
                        <i class="material-icons">visibility</i>
                        Ver Viajes
                    </a>
                </li>
                <li>
                    <a href="agregarViaje.html">
                        <i class="material-icons">add_circle</i>
                        Agregar Viaje
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8000/empleados">
                <i class="material-icons">face</i>
                Empleados
            </a>
            <ul>

                <li>
                    <a href="">
                        <i class="material-icons">add_circle</i>
                        Agregar Empleado
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="http://localhost:8000/vehiculos">
                <i class="material-icons">directions_bus</i>
                Vehículos
            </a>
            <ul>
                <li>
                    <a href="">
                        <i class="material-icons">add_circle</i>
                        Agregar Vehículo
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="material-icons">show_chart</i>
                        Estadísticas
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <section>
        <div class="wrapper">
            <!--Barra de Busqueda-->
            <div class="caja1">
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Buscar ..." id="filterInput">
                    <a class="search-btn" href="#">
                    </a>
                </div>
            </div>

            <!--DIV para la tabla-->
            <div class="workspace">
                <table class="striped green lighten-2 highlight">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Ruta</th>
                            <th>Conductor</th>
                            <th>Vehículo</th>
                            <th>Carga</th>
                            <th>Peso</th>
                        </tr>
                    </thead>

                    <tbody id="names">
                        {% for i in Lista %}
                        <tr>
                            <td><a href="#login" class="modal-trigger">{{ i.0 }}</a></td>
                            <td><a href="#login" class="modal-trigger">{{ i.1 }}</a></td>
                            <td><a href="#login" class="modal-trigger">{{ i.2 }}</a></td>
                            <td><a href="#login" class="modal-trigger">{{ i.3 }}</a></td>
                            <td><a href="#login" class="modal-trigger">{{ i.4 }}</a></td>
                            <td><a href="#login" class="modal-trigger">{{ i.5 }}</a></td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <div id="login" class="modal">
            <a href="http://localhost:8000/viajes"><h5 class="modal-close">&#10005;</h5></a>
            <div class="modal-content">
                <h4>Viaje</h4>
                <br>

                <form class="col s12" action="#">
                    <div class="row">
                        <div class="input-field col s6">
                            <select disabled id="ruta">
                                <option value="" disabled selected>{{ Viaje.0.0 }}</option>
                                <option value="1">Bogotá</option>
                                <option value="2">Sogamoso</option>
                                <option value="3">Medellin</option>
                                <option value="4">Cali</option>
                                <option value="5">Corinto</option>
                                <option value="6">Villavicencio</option>
                                <option value="7">Arauca</option>
                                <option value="8">Barranquilla</option>
                                <option value="9">Manizales</option>
                                <option value="10">Florencia</option>
                            </select>
                            <label for="ruta">Ruta</label>
                        </div>
                        <div class="col s4">
                            <p> </p>
                        </div>
                        <div class="col s0">
                            <a href="">
                                <i class="large material-icons">local_shipping</i>
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select disabled id="conductor">
                                <option value="" disabled selected>{{ Viaje.0.1 }}</option>
                                <option value="1">Bogotá</option>
                                <option value="2">Sogamoso</option>
                                <option value="3">Medellin</option>
                                <option value="4">Cali</option>
                                <option value="5">Corinto</option>
                                <option value="6">Villavicencio</option>
                                <option value="7">Arauca</option>
                                <option value="8">Barranquilla</option>
                                <option value="9">Manizales</option>
                                <option value="10">Florencia</option>
                            </select>
                            <label for="conductor">Conductor</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <select disabled id="placa">
                                <option value="" disabled selected>{{ Viaje.0.2 }}</option>
                                <option value="1">Bogotá</option>
                                <option value="2">Sogamoso</option>
                                <option value="3">Medellin</option>
                                <option value="4">Cali</option>
                                <option value="5">Corinto</option>
                                <option value="6">Villavicencio</option>
                                <option value="7">Arauca</option>
                                <option value="8">Barranquilla</option>
                                <option value="9">Manizales</option>
                                <option value="10">Florencia</option>
                            </select>
                            <label for="placa">Placa del Vehículo</label>
                        </div>

                        <div class="input-field col s6">
                            <input disabled value="{{ Viaje.0.3 }}" id="peso" type="number" class="validate">
                            <label for="peso" class="active">Peso</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <select disabled>
                                <option value="" disabled selected>{{ Viaje.0.4 }}</option>
                                <option value="1">Construcción</option>
                                <option value="2">Material arenoso</option>
                                <option value="3">Inflamable</option>
                                <option value="4">Conductor</option>
                                <option value="5">Orgánico</option>
                            </select>
                            <label>Tipo de Carga</label>
                        </div>
                        <div class="input-field col s6">
                            <input disabled value="{{ Viaje.0.5 }}" id="textarea2" class="validate" data-length="30"></textarea>
                            <label for="textarea2" class="active">Descripción corta</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input disabled value="{{ Viaje.0.6 }}" id="inicio" type="text" class="datepicker">
                            <label for="inicio" class="active">Fecha</label>
                        </div>
                        <div class="input-field col s6">
                            <input disabled value="{{ Viaje.0.7 }}" placeholder="horas de viaje" id="duracion" type="number" class="validate">
                            <label for="duracion">Duración</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input disabled value="{{ Viaje.0.8 }}" placeholder="$" id="costo" type="number" class="validate">
                            <label for="costo" class="active">Costo</label>
                        </div>
                        <div class="input-field col s6">
                            <select disabled>
                                <option value="" disabled selected>{{ Viaje.0.9 }}</option>
                                <option value="1">Tarjeta de Crédito</option>
                                <option value="2">Tarjeta Débito</option>
                                <option value="3">Efectivo</option>
                                <option value="4">Cheque</option>
                            </select>
                            <label>Medio de Pago</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <a href="http://localhost:8000/viajes/{{ Viaje.0.10 }}/editar" id="editar" class="btn-large">Editar</a>
                        </div>
                        <div class="col s6">
                            <a href="#" id="borrar" class="btn-large">Eliminar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!--JavaScript at end of body for optimized loading-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);

        //Filtro del buscador
        let filterInput = document.getElementById('filterInput');
        filterInput.addEventListener('keyup', filterNames);

        function filterNames() {
            let filterValue = document.getElementById('filterInput').value.toUpperCase();
            let names = document.getElementById('names');
            let li = names.querySelectorAll('tr');
            console.log(li);
            for (let i = 0; i < li.length; i++) {
                let a = li[i].getElementsByTagName('td')[0];
                let b = li[i].getElementsByTagName('td')[1];
                let c = li[i].getElementsByTagName('td')[2];
                let d = li[i].getElementsByTagName('td')[3];
                let e = li[i].getElementsByTagName('td')[4];

                if (a.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                    li[i].style.display = '';
                }
                else if (b.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                    li[i].style.display = '';
                }
                else if (c.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                    li[i].style.display = '';
                }
                else if (d.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                    li[i].style.display = '';
                }
                else if (e.innerHTML.toUpperCase().indexOf(filterValue) > -1) {
                    li[i].style.display = '';
                }
                else {
                    li[i].style.display = 'none';
                }
            }
        }

        document.getElementById("borrar").addEventListener("click", function () {
            pregunta = confirm("¿Desea eliminar el viaje?");
            if (pregunta == true) {
                location.href = "http://localhost:8000/viajes/{{ Viaje.0.10 }}/eliminar";
            } else {
                location.href = "http://localhost:8000/viajes";
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.materialboxed').materialbox();
            $('.parallax').parallax();
            $('.tabs').tabs();
            $('.modal').modal();
            $('select').formSelect();
            $('input#input_text, textarea#textarea2').characterCounter();
            $('.datepicker').datepicker();
            $(".datepicker").datepicker({
                yearRange: [2017, 2019],
                changeMonth: true,
                changeYear: true,
            });
            M.updateTextFields();
        });
    </script>
</body>
