.navbar-fixed{
    align-items: center;
}
.wrapper{
    display:grid;
    /* grid-template-columns:1fr 1fr 1fr;*/
    grid-template-columns: 1fr;
    grid-gap:1em;
    /* grid-auto-rows:100px; */
    grid-auto-rows: minmax(100px, auto);
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

/* SEARCH BOX*/
.box1> search-box {
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }
   
.box1> search-box:hover > .search-txt {
    width: 240px;
    padding: 6px;
   }
   
.box1>search-box:hover > .search-btn {
    background: white;
    color: black;
   }
   
.box1>search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }
   
.wrapper>.search-btn > i {
    position: relative;

    font-size: 30px;
   }
   
.wrapper>.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }﻿

/*   TABLAS */


.wrapper> .workspace{
    position: relative;
    top: 1200%;
    border-radius: 15px;
    background: white;
    
}

.workspace>table{
    border-radius: 10m !important;
    
    -moz-border-radius:6px;
    background: white;
}
.workspace>table>thead{
    background-color: rgba(58, 126, 79, 0.5) !important;
}

.workspace>table>tbody{
    cursor: pointer;
}

table.highlight>tbody>tr:hover  {
    background-color: rgba(115, 250, 155, 0.5) !important;
    color: white;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
  
  /* bottom-left border-radius */
  table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }

.row {
    padding-left: 5%;
    padding-right: 5%;
}

 